1. What are data structures, and why are they important?

- A data structure is a way of organizing and storing data in a computer so that it can be accessed and modified efficiently. They are important because they allow you to manage and handle large amounts of data effectively, improving the performance of your algorithms and programs. For example, a good data structure can make searching for an item lightning-fast.

2. Explain the difference between mutable and immutable data types with examples.

- Mutable data types can be changed after they are created. You can add, remove, or modify elements in place. Examples include lists, dictionaries, and sets.
Immutable data types cannot be changed once they're created. If you want to "modify" an immutable object, you're actually creating a new one. Examples include strings, tuples, and numbers.

3. What are the main differences between lists and tuples in Python?

- The main differences are mutability and syntax. Lists are mutable, meaning you can change them, and are defined using square brackets []. Tuples are immutable, so you can't change them, and are defined using parentheses (). Tuples are generally used for collections of items that shouldn't change, like coordinates or database records.

4. Describe how dictionaries store data.

- Dictionaries store data in key-value pairs. Each key is unique and is used to retrieve its associated value. Think of it like a real-world dictionary where you look up a word (the key) to find its definition (the value). The keys must be immutable data types, such as strings, numbers, or tuples.

5. Why might you use a set instead of a list in Python?

- You'd use a set instead of a list when you need a collection of unique items. Sets automatically handle duplicates, ensuring each element is present only once. They are also highly optimized for performing membership tests, like checking if an item is in the collection, which is much faster than with a list.

6. What is a string in Python, and how is it different from a list?

- A string is a sequence of characters, like letters or numbers, used to represent text. The main difference from a list is that a string is immutable. You can't change a character in a string in place, whereas you can modify elements in a list. Also, strings are specifically for text, while lists can hold any type of data.

7. How do tuples ensure data integrity in Python?

- Tuples ensure data integrity because they are immutable. Once you create a tuple, you can't accidentally (or intentionally) change its contents. This makes them perfect for storing data that you know should not be altered, providing a form of protection against unexpected modifications.


8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a data structure that stores information using a hash function to map keys to a specific location in an array. This allows for very fast data retrieval. In Python, dictionaries are implemented using hash tables. The dictionary keys are "hashed" to determine where their values are stored, which is why dictionaries are so efficient for lookups.

9. Can lists contain different data types in Python?

- Yes, a list can contain different data types. For example, a single list could hold an integer, a string, and a float all at the same time, like [1, 'hello', 3.14].


0. Explain why strings are immutable in Python.

- Strings are immutable because it allows for optimization and ensures consistency. Python can be more efficient with memory and speed when it knows a string won't change. Also, immutability makes them hashable, which is a requirement for using them as keys in a dictionary.

11. What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries are much better than lists for fast lookups and data retrieval. If you need to find an item based on a specific key (like a user's ID or a product name), a dictionary can do it in near-constant time, regardless of how many items are in it. With a list, you'd have to search from the beginning, which is much slower.

12. Describe a scenario where using a tuple would be preferable over a list.

- A good scenario would be storing geographical coordinates. A latitude and longitude pair, like (40.7128, -74.0060), is a fixed set of two values that you wouldn't want to change. Using a tuple makes it clear that this data is permanent and unalterable.

13. How do sets handle duplicate values in Python?

- Sets automatically discard duplicate values. When you add an item that already exists in a set, the set simply ignores it and the size remains unchanged. This makes them great for getting a unique list of items from a collection that might have duplicates

14. How does the "in" keyword work differently for lists and dictionaries?

- For lists, the in keyword checks for the presence of a value. It has to scan the list item by item, which can be slow for large lists. For dictionaries, in checks for the presence of a key. This is extremely fast because the dictionary uses a hash table to find the key's location directly.

15. Can you modify the elements of a tuple? Explain why or why not.

- No, you cannot modify the elements of a tuple. This is because tuples are immutable. Once an element is placed inside, its value and position are locked in. You would have to create a new tuple to reflect any changes.

16. What is a nested dictionary, and give an example of its use case?

- A nested dictionary is a dictionary where the values are themselves other dictionaries. An example would be a database of users, where each user's key maps to another dictionary containing their details like {'john_doe': {'age': 30, 'city': 'New York'}, 'jane_smith': {'age': 25, 'city': 'London'}}. This is useful for structuring complex, hierarchical data.

17. Describe the time complexity of accessing elements in a dictionary.

- The time complexity of accessing elements in a dictionary is, on average, O(1), which means it's constant time. This is because the hash table implementation allows the program to jump directly to the memory location of the key-value pair, regardless of the dictionary's size.

18. In what situations are lists preferred over dictionaries?

- Lists are preferred when the order of elements is important or when you need to access items by their numerical index (e.g., the 3rd item in a sequence). They are also a good choice when you have a simple sequence of items and don't need the key-value lookup functionality that a dictionary provides.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- Before Python 3.7, dictionaries were considered unordered, meaning the order in which you inserted items was not guaranteed to be the order in which they were stored. Since Python 3.7, dictionaries do maintain insertion order. So, while historically a dictionary's "unordered" nature meant you couldn't rely on retrieval order, modern versions of Python now preserve it.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

- With a list, you retrieve data by its index (its position in the list, like my_list[0]). Data retrieval can be slow as it might require a full scan. With a dictionary, you retrieve data by its key (like my_dict['user_id']). This is a much faster, direct lookup because of the hash table implementation.

# PRACTICAL QUESTIONS

1. Write a code to create a string with your name and print it.

In [ ]:
a = "Your Name"
print(a)

Your Name

2. Write a code to find the length of the string "Hello World".

In [ ]:
a = "Hello World"
print(len(a))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
a = "Python Programming"
print(a[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
a = "hello"
print(a.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
a = "I like apple"
b = a.replace("apple", "orange")
print(b)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
a = [1, 2, 3, 4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
a = [1, 2, 3, 4, 5]
a.remove(3)
print(a)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
a = ['a', 'b', 'c', 'd']
print(a[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
a = [10, 20, 30, 40, 50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
a = (100, 200, 300)
print(a)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
a = ('red', 'green', 'blue', 'yellow')
print(a[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
a = (10, 20, 5, 15)
print(min(a))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
a = ('dog', 'cat', 'rabbit')
print(a.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = { "name": "aadi",  "age": 22, "city": "bhopal"}
print(person)

{'name': 'aadi', 'age': 22, 'city': 'bhopal'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person = {"name": "John","age": 25}
person['country'] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {"name": "Alice","age": 30}

print(person['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {"name": "Bob","age": 22,"city":"New York"}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {"name": "Alice","city": "Paris"}
print('city' in person)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)
my_dict = {"a": 1, "b": 2}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(1, 2, 3)
{'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [ ]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[22, 30, 36, 63, 76]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_list = ["apple", "banana", "cherry", "date"]
print(my_list[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [7]:
dict1 = {"name": "Alex", "age": 30}
dict2 = {"city": "Berlin", "country": "Germany"}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alex', 'age': 30, 'city': 'Berlin', 'country': 'Germany'}

30. Write a code to convert a list of strings into a set.

In [8]:
my_list = ["apple", "banana", "apple", "cherry"]
my_set = set(my_list)
print(my_set)

{'banana', 'cherry', 'apple'}